<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMDb: Rating, Reviews, and Where to Watch the Best Movies & TV Shows</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>
    <nav class="navbar">
        <div class="flex-container">
            <div class="logo">
                <a href="{{url_for('index') }}"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo-image"></a>
            </div>
            <div class="nav-item"><i class="fas fa-bars"></i> Menu </div>
            <div class="nav-item search-container">
                <form action="/search" method="GET" class="search-form">
                    <input type="text" name="query" placeholder="Search IMDb" class="search-input">
                    <button type="submit" class="search-button">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
            <a class="nav-item" href="{{ url_for('view_watchlist') }}" style="text-decoration: none; color: white;">
                <i class="fa-solid fa-bookmark"></i>WatchList
            </a>
            <a class="nav-item" href="{{ url_for('recommend') }}" style="text-decoration: none; color: white;">
                <i class="fa-solid fa-sliders"></i> Get Recommendations
            </a>
        {% if session.username %}
            <a class="nav-item" href="{{ url_for('profile', user_id=session.user_id) }}" style="text-decoration: none; color: white;">
                {{ session.username }} <i class="fa-solid fa-circle-user"></i>
            </a>
        {% else %}
            <a class="nav-item" href="{{ url_for('sign_in') }}" style="text-decoration: none; color: white;">
            Sign-in <i class="fa-solid fa-circle-user"></i>
            </a>
        {% endif %}

            
        </div>
    </nav>
    
</body>
</html>
