{% extends "base.html" %}

{% block title %}IMDb: Profile{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">

<div class="profile-container">
    <div class="profile-header">
        <div class="profile-image">
                <img src="{{ url_for('static', filename='images/default_profile.png') }}" alt="Default Profile Image">
        </div>
        <div class="profile-details">
            <h1>{{ user.username }}</h1>
            <p>Member since: {{ user.timestamp.strftime('%B %Y') }}</p>
            <!-- Add badges, stats, etc. here -->
        </div>
    </div>
    <div class="profile-activity">
        <h2>Activity</h2>
        <div class="profile-buttons">
            <button type="button" class="profile-watchlist-btn">Go to Watchlist</button>
            <a href = "{{url_for('logout')}}">
            <button type="button" class="logout-btn">Log Out</button>
            </a>
        </div>
    </div>    
</div>




{% endblock %}